.top {
    background-color: black;
    display: grid;
    grid-template-columns: 10% 45% 45%;
    gap: 1em;
    grid-template-areas: "left middle right";
    padding: 1em;
    margin: 0em;
}

.top--left {
    grid-area: left;
    display: block;
    color: white;
    max-width: 7em;
}


.top--middle {
    grid-area: middle;
    display: block;
    color: white;
    font-size: 32px;
    font-family: Source Sans Pro, regular;
    margin: auto;
}

h1 {
    margin: auto;
    margin-left: 0em;
}

.top--right {
    grid-area: right;
    display: block;
    color: white; 
    margin: auto;
    font-size: 24px;
}

.top--right a {
    color: white;
}

.top--right a:hover {
    color: #33B55F;
}

.subtitle {
    background-color: #33B55F;
    padding: 0.5em 1em 0.5em 1em;
    color: white;
    font-family: Source Sans Pro, regular;
    font-size: 18px;
}

ul {
    font-size: 24px;
    list-style: none;
    text-align: center;
    padding-inline-start: 0em;
}

li {
    display: inline-block;
    font-family: Source Sans Pro, regular;
    padding-right: 5px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #33B55F;
}

.row--left {
    grid-area: image;
    display: block;
    padding: 1em;
    background-color: white;
}

.row--right {
    grid-area: text;
    display: block;
    padding: 1em;
    background-color: white;
}

.row {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    gap: 1px;
    grid-template-areas: "image"
    "text";
    grid-auto-flow: column;
}

.row-a {
    position: relative;
    display: block;
}

.overlay {
    position: absolute; 
    width: 100%; 
    height: 100%;
    background-color: black; 
    display: flex;
    visibility: hidden;
}

.overlay--text {
    margin: auto;
    font-size: 36px;
    font-family: Source Sans Pro, regular;
}

a:hover .overlay{
    visibility: visible;
    opacity: 70%;
}


img {
    width: 100%;
}

.row h3 {
    font-size: 24px;
    font-family: Source Sans Pro, regular;
}

.row h4 {
    font-size: 18px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-right: 1em;
}

.bottom {
    background-color: black;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 1em;
    grid-template-areas: "left middle right";
    padding: 1em;
    margin: 0em;
}

.bottom--left {
    grid-area: left;
    display: block;
    color: white;
    margin: auto;
    font-size: 24px;
    font-family: Source Sans Pro, regular;
    padding: 1em;
}

.bottom--left a {
    color: white;
}

.bottom--middle {
    grid-area: middle;
    display: block;
    color: white;
    margin: auto;
}

.bottom--middle ul li a {
    color: white;
    font-size: 24px;
    font-family: Source Sans Pro, regular;
    text-align: center;
}

.bottom--middle ul li a:hover {
    color: #33B55F;
}

.bottom--right {
    grid-area: right;
    display: block;
    color: white; 
    margin: auto;
    font-size: 24px;
    font-family: Source Sans Pro, regular;
}

.bottom--right a {
    color: white;
}

.bottom--right a:hover {
    color: #33B55F;
}

footer {
    background-color: black;
    margin: auto;
    padding: 1em;
}

footer a {
    color: white;
    font-family: Source Sans Pro, regular;
    font-size: 24px;
}

footer a:hover {
    color: #33B55F;
}

@font-face {
    font-family: Source Sans Pro, regular;
    src: "fonts/SourceSansPro, regular-Regular";
}